{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Ledger API",
    "description": "Ledger Investing helps insurance businesses collaborate faster and build better technologies through a set of APIs with powerful data sharing and enrichment capabilities.",
    "contact": {
      "name": "Ledger Investing",
      "url": "https://ledgerinvesting.com",
      "email": "support@ledgerinvesting.com"
    }
  },
  "servers": [
    {
      "url": "https://api.ldgr.app/api",
      "description": "Production API"
    }
  ],
  "components": {
    "schemas": {
      "APIKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "organization": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "secret",
          "name",
          "user",
          "organization",
          "created_at",
          "updated_at"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/keys": {
      "get": {
        "tags": [
          "keys"
        ],
        "description": "List api keys",
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ],
              "default": 250
            },
            "required": true,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ],
              "default": 0
            },
            "required": true,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIKey"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "keys"
        ],
        "description": "Create an api key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          }
        }
      }
    },
    "/keys/{id}": {
      "get": {
        "tags": [
          "keys"
        ],
        "description": "Retrieve a key by it's ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/APIKey"
                    },
                    {
                      "nullable": true
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Update a key by it's ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "keys"
        ],
        "description": "Delete a key by it's ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}